body {
	margin: 0;
	background-color: #FFFFFF;
	padding-top: 60px;
	font-family: 'Montserrat', sans-serif;
}
#nav-menu.navbar-default .navbar-brand {
	color: rgba(255, 255, 255, 1);
}
#nav-menu.navbar-default {
	font-size: 14px;
	background-color: rgba(67, 133, 245, 1);
	border-width: 0px;
	border-radius: 0px;
}
#nav-menu.navbar-default .navbar-nav>li>a {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(248, 248, 248, 0);
}
#nav-menu.navbar-default .navbar-nav>li>a:hover,
#nav-menu.navbar-default .navbar-nav>li>a:focus {
	color: rgba(0, 0, 0, 1);
	background-color: rgba(248, 248, 248, 0);
}
#nav-menu.navbar-default .navbar-nav>.active>a,
#nav-menu.navbar-default .navbar-nav>.active>a:hover,
#nav-menu.navbar-default .navbar-nav>.active>a:focus {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(16, 157, 89, 1);
}
#nav-menu.navbar-default .navbar-toggle {
	border-color: #109d59;
}
#nav-menu.navbar-default .navbar-toggle:hover,
#nav-menu.navbar-default .navbar-toggle:focus {
	background-color: #109d59;
}
#nav-menu.navbar-default .navbar-toggle .icon-bar {
	background-color: #109d59;
}
#nav-menu.navbar-default .navbar-toggle:hover .icon-bar,
#nav-menu.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #4385f5;
}
.jumbotron {
	padding: 10em 0 10em 0;
	background-color: #109D59;
	color: #FFFFFF;
}
.call-for-action {
	padding: 2.5em;
	background-color: #DC4437;
	color: #FFFFFF;
}
.services {
	padding: 5em 0 5em 0;
}
footer {
	background-color: #4385F5;
	color: #FFFFFF;
	padding-top: 5em;
	padding-bottom: 5em;
}
.btn-social {
	color: #FCBE1F;
	font-size: 2.5em;
}
.footer-bottom {
	background-color: #000000;
	color: #FFFFFF;
	padding: 1.25em;
}